#root {
  margin: 0 auto;
  text-align: left;
}

.app {
  min-height: 100vh;
  background-color: #f5f5f5;
}

.main-content.fullscreen-present {
  max-width: 100%;
  width: 95%;
  padding: 5px;
}

.banner {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.banner img {
  height: 60px;
}

.banner .crest {
  padding: 20px 0;
}

/* Navigation */
.navbar {
  background-color: white;
  border-bottom: 1px solid #e0e0e0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  background-color: #353535;
  border-width: 0 0 5px 0;
  border-color: #e79000;
}

.navbar-container {
  max-width: 90%;
  margin: 0 auto;
  padding: 0rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.navbar h1 {
  font-size: 2.25rem;
  font-weight: 600;
  margin: 0;
}

.navbar-links {
  display: flex;
  gap: 2rem;
}

.navbar-links a {
  text-decoration: none;
  font-weight: 500;
  transition: background-color 0.2s, color 0.2s;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

.navbar-links a:hover {
  background-color: #464646;
}

.navbar-links a.active {
  background-color: #464646;
}

/* Main Content */
.main-content {
  max-width: 1400px;
  margin: 0 auto;
  padding: 2rem;
}
